*~
\#*\#
a.out
*.vcd
*.lxt
.metadata
.project
.settings
*.swp
*.jou
*.log
*.pyc

*.DS_Store

*/*/ip/*/*
*/*/*/ip/*/*

!*/*/ip/*/*.xci
!*/*/ip/*/*.xcix
!*/*/ip/*/*.v
!*/*/ip/*/*.vh
!*/*/ip/*/*.patch
!*/*/ip/*/*.xdc
!*/*/ip/*/*.coe
!*/*/ip/*/*.prj
!*/*/ip/*/*.inc

!*/*/*/ip/*/*.xci
!*/*/*/ip/*/*.xcix
!*/*/*/ip/*/*.v
!*/*/*/ip/*/*.vh
!*/*/*/ip/*/*.patch
!*/*/*/ip/*/*.xdc
!*/*/*/ip/*/*.coe
!*/*/*/ip/*/*.prj
!*/*/*/ip/*/*.inc
